/*GLOBAL STYLES*/
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"),
    url("../font/open-sans-regular.woff") format("woff"),
    url("../font/open-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../font/open-sans-700.woff") format("woff"),
    url("../font/open-sans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #a9abad;
  font-size: 14px;
  line-height: 1.4;

  width: 100%;
  min-width: 1100px;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.container {
  width: 1110px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container_additional {
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
}

.button_main {
  display: inline-block;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #fa7c30;
  padding: 14px 32px;
  transition: all 0.2s ease;
}

.button_main:hover {
  background-color: #161418;
  transform: translateY(-10px);
}

.button_main:active,
.button_main:focus {
  background-color: #eb5a00;
}

.section-heading {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #161418;
}

.red {
  color: #fa7c30;
}

/*HEADER STYLE*/
.header-main {
  background-image: url(../img/header_image.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-width: 1110px;

  padding-top: 23px;
  padding-bottom: 400px;
}

.header-main::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 20, 24, 0.4);
}

.header-content {
  position: relative;
  z-index: 10;
}

.header-main-upper {
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.header-main .user-navigation {
  padding-top: 7px;
}

.header-main nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-main nav a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 20px;
}

.header-main nav a:hover {
  color: #fa7c30;
}

.header-main nav a:active,
.header-main nav a:focus {
  color: #eb5a00;
}

.header-main nav .order {
  border: 2px solid #ffffff;
  padding: 9px 12px;
  transition: all 0.2s ease;
}

.header-main .order:hover {
  border: 2px solid #fa7c30;
  color: #161418;
  background-color: #fa7c30;
}

.header-main .order:active,
.header-main .order:focus {
  border: 2px solid #161418;
  color: #ffffff;
  background-color: #161418;
}

.header-main .motto {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  padding-top: 175px;
  line-height: 86px;
}

.header-main .motto .red {
  display: block;
  padding-bottom: 11px;
}

.header-main .motto-capture {
  letter-spacing: 1.5px;
  padding-bottom: 70px;
  display: block;
  color: #ffffff;
  font-size: 14px;
}

.header-main .button {
  margin-left: 8px;
}

.header-main .logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-right: 38px;
}

/*SECTION GREETING*/
.greeting {
  position: relative;
  background-color: #f1f4f6;
  width: 100%;
  min-width: 1100px;
}

.greeting .greeting-content {
  max-width: 1600px;
  padding-top: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.greeting .greeting-left-part {
  width: 460px;
  padding-top: 140px;
  padding-left: 210px;
}

.greeting .greeting-right-part {
  padding-right: 20px;
}

.greeting .greeting-content h2 {
  padding-bottom: 8px;
}
.greeting .first-paragraph {
  color: #161418;
  font-weight: 700;
  padding-bottom: 16px;
}

.greeting .first-paragraph,
.greeting .second-paragraph {
  min-width: 380px;
  margin: 0;
  line-height: 30px;
  padding-right: 30px;
}

.greeting .second-paragraph {
  padding-bottom: 54px;
}

/*SECTION SERVICES*/
.services {
  font-size: 16px;
  color: #161418;
  width: 100%;
  min-width: 1170px;
}

.services .services-content {
  padding-top: 142px;
  padding-bottom: 78px;
}

.services h2 {
  padding-bottom: 13px;
}
.services .title-capture {
  padding: 0;
  margin: 0;
  color: #a9abad;
  font-size: 14px;
  padding-bottom: 50px;
}
.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  width: 350px;
  background-color: #f1f4f6;
}
.services-item-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 28px;
  padding-bottom: 34px;
}
.services-item h3 {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 26px;
  padding-bottom: 15px;
}
.services-item p {
  padding: 0;
  margin: 0;
  padding-bottom: 44px;
  line-height: 30px;
}

.services-item .button {
  padding: 13px 33px;
}
.services-item:nth-child(3n) {
  margin-right: 0;
}

/*SECTION TRAINERS STYLE*/
.personal-trainer {
  background-color: #f1f4f6;

  width: 100%;
  min-width: 1170px;
}

.personal-trainer .trainer-heading-capture {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}

.personal-trainer-upper {
  padding-top: 180px;
  padding-bottom: 181px;
  background-image: url(../img/trainer_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
}

.personal-trainer-upper p {
  margin: 0;
  padding-bottom: 20px;
}

.personal-trainer-upper span {
  display: block;
  font-weight: 700;
  font-size: 70px;
  padding-right: 10px;
}

.trainer-content {
  padding-top: 67px;
  padding-bottom: 73px;
}

.trainer-content h2 {
  padding-bottom: 15px;
}

.trainers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trainers-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-wrapper {
  height: 402px;
  display: flex;
  align-items: flex-end;
}

.trainers-item {
  width: 350px;
}

.trainers-list img {
  transition: all 0.3s ease;
}

.trainers-list img:hover {
  transform: scale(1.1);
}

.trainers-item:nth-child(3n) {
  margin-right: 0;
}

.trainers-item-text {
  text-align: center;
  padding-top: 32px;
}
.trainers-list h3 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  color: #161418;
  text-transform: capitalize;
  padding-bottom: 3px;
}

.trainers-list .trainer-specialization {
  display: block;
  padding-bottom: 14px;
  color: #fa7c30;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.trainers-list p {
  margin: 0;
  padding: 0;
  padding-right: 15px;
  padding-left: 5px;
  color: #161418;
  line-height: 30px;
}

/*PROMO SECTION*/

.promo {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;

  width: 100%;
  min-width: 1170px;
}
.promo-big,
.promo-small {
  display: block;
}

.left-column-content,
.right-column-content {
  z-index: 10;
  position: relative;
}

.promo-small {
  padding-bottom: 15px;
}

.promo-big {
  font-size: 46px;
  padding-bottom: 35px;
  color: #ffffff;
}

.left-column,
.right-column {
  position: relative;
  background-image: url(../img/promo_left.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  padding-top: 127px;
  padding-bottom: 125px;
}

.right-column {
  background-image: url(../img/promo_right.jpg);
}

.left-column {
  background-image: url(../img/promo_left.jpg);
}

.left-column:after,
.right-column:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.left-column:hover:after,
.right-column:hover:after {
  display: none;
}

/*FOOTER STYLE*/
.footer-main {
  background-color: #161418;
  color: #ffffff;

  width: 100%;
  min-width: 1170px;
}
.footer-main .footer-main-content {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}
.footer-main .logo {
  padding-bottom: 35px;
}

.footer-main .logo:hover {
  color: #fa7c30;
}

.footer-main p {
  margin: 0;
  padding-right: 30px;
  padding-bottom: 57px;
  line-height: 30px;
}
.footer-main .footer-main-content:nth-child(3n) {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 30px;
}

.footer-main .footer-main-first-column {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  width: 475px;
}
.footer-main .social-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.footer-main .social-links .social-message {
  padding-right: 15px;
}
.footer-main .social-links .social-icon {
  background-color: #161418;
  fill: #ffffff;
  width: 19px;
  height: 20px;
  padding-right: 11px;
}

.social-links .social-icon:hover {
  fill: #fa7c30;
}

.social-links .social-icon:focus,
.social-links .social-icon:active {
  fill: #eb5a00;
}

.footer-main .form-subscription {
  display: flex;
  align-items: flex-start;
}

.footer-main .form-subscription input {
  border: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #161418;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 210px;
}

.footer-main .form-subscription button {
  border: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fa7c30;
  letter-spacing: 2px;
  padding-left: 27px;
  padding-right: 30px;
}

.footer-main .form-subscription button:hover {
  background-color: #e99765;
}
.footer-main .form-subscription button:active,
.footer-main .form-subscription button:focus {
  background-color: #eb5a00;
}

.footer-main .form-subscription button,
.footer-main .form-subscription input {
  padding-top: 12px;
  padding-bottom: 11px;
}

.footer-main .blog-list,
.footer-main .social-links {
  list-style: none;
}

.footer-main h4 {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 38px;
}

.footer-main-second-column {
  padding-top: 75px;
  width: 380px;
  min-width: 285px;
}
 .blog-list {
  padding: 0;
  margin: 0;
}

 .blog-list li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

 .blog-list li img {
  padding-right: 22px;
  padding-bottom: 29px;
  transition: all 0.2s ease;
}

 .blog-list li img:hover {
  transform: scale(1.1);
}

 .blog-list li a {
  display: block;
  color: #ffffff;
  line-height: 24px;
}

 .blog-list li a:hover {
  color: #fa7c30;
}

.blog-list li a:active,
.blog-list li a:focus {
  color: #eb5a00;
}

.footer-main-third-column {
  padding-top: 74px;
}

.footer-main-third-column h4 {
  padding-bottom: 35px;
}

.footer-main-third-column .inst-pistures {
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
  width: 255px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inst-pistures a {
  display: block;
  width: 83px;
  height: 84px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.footer-main-third-column .inst-pistures img {
  transition: all 0.2s ease;
}

.footer-main-third-column .inst-pistures img:hover {
  transform: scale(1.1);
}

.footer-main-third-column .link {
  color: #ffffff;
  font-size: 12px;
}

.footer-main-third-column .link:hover {
  color: #fa7c30;
}

.footer-main-third-column .link:active,
.footer-main-third-column .link:focus {
  color: #eb5a00;
}

/*BOOKING SECTION*/

.booking {
  color: #161418;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  background-color: #ffffff;
  text-align: center;

  width: 1110px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  position: absolute;
  top: -17%;
  left: 50%;
  margin-left: -555px;
}
.booking p {
  margin: 0;
  padding-top: 65px;
}

.booking p span {
  display: block;
  margin: 0;
  font-size: 36px;
  padding-top: 10px;
}

.booking form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 450px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 50px;
}

.booking form p {
  padding: 0;
  margin: 0;
  width: 159px;
}

.booking input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #161418;
  width: 150px;
  margin-right: 30px;
  border: none;
  border-bottom: 1px solid #161418;
}

.booking .send_form {
  display: inline-block;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #fa7c30;
  padding: 14px 32px;
  transition: all 0.2s ease;
  margin: 0 auto;
  margin-top: 95px;
}

.booking .send_form:hover {
  background-color: #161418;
  transform: translateY(-10px);
}

.booking .send_form:active,
.booking .send_form:focus {
  background-color: #eb5a00;
}
